
* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: #F3DBCF;
}

.head {
  font-family: 'League Spartan', sans-serif;
}

.info-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  text-align: center;
}

